/* styles.css */

/* Light mode (default) */

.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
}

.toggle-switch {
    display: none;
}

.toggle-switch + label {
    cursor: pointer;
    padding: 10px;
    background-color: #ddd;
    border-radius: 5px;
}

.toggle-switch:checked + label {
    background-color: #333;
    color: white;
}

/* Dark mode */
body.dark-mode {
    background-color: #333;
    color: white;
}